SVGEye.opensdf
SVGEye.sdf
SVGEye/Debug/SVGEye.tlog/CL.read.1.tlog
SVGEye/Debug/SVGEye.tlog/CL.write.1.tlog
SVGEye/Debug/SVGEye.tlog/SVGEye.lastbuildstate
SVGEye/Debug/SVGEye.tlog/cl.command.1.tlog
SVGEye/Debug/SVGEye.tlog/link.command.1.tlog
SVGEye/Debug/SVGEye.tlog/link.read.1.tlog
SVGEye/Debug/SVGEye.tlog/link.write.1.tlog
ffmpeg-20150402-git-d759844-win64-dev.7z
SVGEye/Debug/vc120.idb
*.lo
*.o
*.sdf